/* main */
#section-form{
    min-height: 30vh;
    max-width: 80%;
    border-radius:10px;
    box-shadow: 2px 5px 20px #000;
}

#section-preview{
    min-height: 30vh;
    max-width: 80%;
}

#btns-form,
#form-items{
   min-height: 15vh;
}
#ticket-details{
    min-height: 20vh;
}

.hidden{
    visibility: hidden;
}

/* style btn  && background*/

.bg-bordaux{
    background-color: #b91450;
}

#form-items .form-control:focus,
#form-items .form-select:focus{
  border-color: rgb(185, 20, 80);
  box-shadow: 0 0 0 .25rem rgba(185,20,80,.25);
}

